* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "open sans", sans-serif;
}

nav {
	background-color: white;
	margin: 2rem;
	position: sticky;
	top: 0px;
	bottom: 0;
	margin: 0;
	padding: 1rem 0;

	z-index: 3;
}


.tuitt-button {

	background-color: #c2195b;
	color: white;
	padding: 1em;
	font-weight: 900;
	border: none;
	border-radius: 1.75em;
}

nav ul {
	list-style-type: none;
}
.nav-logo {
	position:  left;
	display: inline-block;
}

nav ul div {

float: right;

}
nav ul div li {
	font-weight: 600;
	margin: 0 1.5em;
	display: inline-block;
}

.title {
	text-align: right;
	color: white;
	font-family: "Prata", sans-serif;
	padding-left: 35%;
	padding-right: 10%;
	margin-top: 2rem ;
	margin-bottom: 0rem;

		}


.subtitle {
	color: white;
	text-align: right;
	position: relative;
	font-size: 1.25rem;
	padding-left: 40em;
	padding-right: 10%;
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 400;
}


.apply-button {
	float: right;
	left: 90%;
	background-color: #c2195b;
	color: white;
	padding: 1em 3em;
	font-weight: 900;
	border: none;
	border-radius: 1.75em;
	margin-right: 10%;
}


#bg-image {

	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: ;
	font-size: 2rem;
	font-weight: bold;
	background-color: gray;
	background-blend-mode: multiply;
	padding-bottom: 2em;
}

.intro h2 {
	margin-top: 5rem;
	text-align: center;
	font-family: "Prata", sans-serif;
}

.intro-description {

	margin-top: 5em;
	margin-bottom: 10em;
	padding: 0 15%;
	text-align: justify;
	font-size: .95em;
}


.title-2 {
	text-align: center;
	font-family: "Prata", sans-serif;
	font-size: 2rem;
}

.prefooter-description {
	text-align: center;
	padding: 0 15%;
	margin-top: 2.5rem;
	font-size: 1.1rem;
}

.book-button {
	margin-left: 47%;
	margin-top: 1rem;
	font-size: 1rem;
	background-color: #336589;
	color: white;
	padding: 1rem 3rem;
	font-weight: 900;
	border: none;
	border-radius: 2rem;
}

footer {

	margin-top: 10rem;
	text-align: center;
}

footer span {
	margin: 0 .5rem;
}

html {
	height: 800%;
}